.research-items {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.science-packs-prod {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}