.extracting-item-display {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #444;
    margin: 2px;
}

.extracting-item-ore {
    text-align: center;
}

.extractor-items {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.extractor-item {
    text-align: center;
}

.total {
    font-weight: bold;
}

.can-build {
    cursor: pointer;
}

.recipe .ingredient {
    margin-bottom: 3px;
}

.recipe .ingredient .qty {
    font-weight: bold;
}

.recipe .ingredient .not-enougth {
    color: red;
    opacity: 0.85;
}

h6 {
    margin-top: 2px;
}

.separator {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#fefefe;
}