<div class="stock-info-card">
  <div class="stock-info-card-data">
    <img src="{{resource.icon}}" title="{{resource.name}}" [ngClass]="{'can-mine': resource.handCrafted && game.canBuild(resource)}" (click)="mineResource()" height="32" width="32" />
    <div *ngIf="resource.handCrafted" class="mining-pb">
      <div class="mining-pb-progress" [ngStyle]="{'width':progressBarWidth + '%'}"></div>
    </div>
  </div>
  <div>
    <span class="total">{{stock | number:'1.2-2'}}</span> (<span class="producing">+{{producing | number:'1.2-2'}}</span> / <span class="consuming">-{{consuming | number:'1.2-2'}}</span>)
  </div>
</div>
