.stock-info-card {
    padding: 5px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    width: 220px;
    background-color: #444;
    justify-content: space-around;
}

.stock-info-card-data {
    flex-direction: column;
    justify-content: space-around;
}

.stock-info-card-data img {
    margin-right: 5px;
}

.mining-pb {
    margin-top: 5px;
    height: 10px;
    border: 1px solid #a87723;
}

.mining-pb-progress {
    background-color: #e69100;
    width: 15%;
    height: 9px;
}

span.consuming, span.producing, span.total {
    font-weight: bold;
}

span.consuming {
    color: red;
}

span.producing {
    color:limegreen;
}

span.total {
    color: white;
}

.can-mine {
    cursor: pointer;
}

.recipe .ingredient .qty {
    font-weight: bold;
}

.recipe .ingredient .not-enougth {
    color: red;
    opacity: 0.85;
}

.counter {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

.counter .production {
    font-size: 12px;
}

.separator {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#fefefe;
}