.extract-elec-bonus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.extract {
    width: 49%;
}

.elec {
    width: 24%;
}

.bonus {
    width: 24%;
}

.crafting-area {
    min-height: 750px;
}